.container {
	padding: 50px;
	width: 60%;
	margin: 0 auto;
	background-color: #1c1c1c;
	color: #fff;

	h2 {
		font-size: 24px;
		margin-bottom: 20px;
	}
}

.online-game {
	.game {
		position: relative;
		margin: 1.3%;

		&:hover {
			cursor: pointer;

			button {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				margin: auto;
				width: 150px;
				height: 40px;
				background-color: #f48e06;
				outline: none;
				border: none;
				border-radius: 5px;
				color: #fff;
				font-size: 18px;

				&:hover {
					cursor: pointer;
					background-color: #f47906;
				}
			}

			.wrapp {
				&::after {
					background-color: rgba(28, 28, 30, 0.705);
				}

			}
		}

		.wrapp {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 1px;

			&::after {
				content: '';
				display: block;
				background-image: linear-gradient(0, rgba(28, 28, 30, 0.705) 0%, rgba(28, 28, 30, 0) 30%);
				width: 100%;
				height: 100%;
				border-radius: 10px;
			}
		}

		img {
			width: 100%;
			height: auto;
			border: 1px solid transparent;
			border-radius: 10px;
			box-shadow: 0px 15px 20px 0px rgba(10, 14, 20, 0.55);
			z-index: 100;
			margin: 0 auto;
			max-width: 300px;
		}

		button {
			display: none;
		}

		span {
			position: absolute;
			bottom: 5%;
			left: 5%;
			color: #fff;
			z-index: 9999;
			max-width: 200px;
			font-size: 20px;
		}
	}
}


ul.slick-dots {
	display: block;
	width: 100%;
	bottom: -50px;

	li {
		button:before {
			font-size: 8px;
			color: #fff;

			&:active {}
		}
	}

}

.slick-dots li.slick-active button:before {
	font-size: 14px;
	color: #fff;
}

.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	cursor: pointer;
	background: transparent;

	border: 1px solid #f6f6f63d;
	box-shadow: 0 0 1px 1px #f6f6f63d;
	outline: none;

	&:hover {
		outline: none;
		color: #f48e06;
	}
}